# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDE/editor files
.vscode/
.idea/
*.swp
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Other Files
*.zip
*.rar